*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #DCC9BC;
}

.voordeelstyle{
    height: 100vh;
    width: 100%;
}

.logo{
    margin-left: 50px;
    margin-top: 5px;
}

nav{
    background-color: #F9F6F1;
    height: 90px;
}

.navigatie{
    color: black;
    text-decoration: none;
}

.buttonnav{
    margin: 30px;
    background-color: transparent;
    border: none;
}

.huisfoto{
    margin-left: 20px;
    margin-top: 20px;
}

footer{
    background-color: #cdb297;
    padding: 50px;
    display: flex;
    width: 100%;
    margin-bottom: 0px;
}

.footertekst{
    margin-left: 5%;
    padding: 3px;
}

.opening{
    width: 33%;
}

.adres{
    width: 33%;
}

.socials{
    width: 30%;
}

.foto1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 550px;
    width: 90%;
    object-fit: cover;
}

.inleiding{
    background-color: #c9b4a7;
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inleidingtekst{
    margin-left: 30px;
    margin-top: 30px;
    width: 45%;
}

.burger1{
    width: 25%;
    object-fit: cover;
}

.burgerfoto1{
    height: 200px;
    padding: 5px;
}

.tweeinleiding{
    width: 25%;
}

.geschiedenis1{
    padding-top: 5px;
}

.geschiedenis2{
    padding: 2%;
}

.menuhouder{
    margin: 20px;
    background-color: #c9b4a7;
    padding: 5px;
    width: 50%;
    display: inline-block;
}

.menunaam{
    margin-left: 40%;
}

.menufotoburger{
    height: 300px;
    width: 40%;
    margin-top: 1%;
}

.voordeelpasinfo{
    background-color: #c9b4a7;
    height: auto;
    width: 65%;
    margin: auto;
    margin-top: 5%;
    display: flex;
}

.voordeelfoto{
    margin: 10px;
}

.voordeelpastekst{
    padding-top: 10px;
}

.contactform{
    width: 60%;
    margin: auto;
    margin-top: 7%;
    background-color: #d3b19c;
    display: flex;
}

.contact{
    width: 60%;
    margin: 20px;
}

.infoform{
    background-color: #c19e7b;
    width: 40%;
    padding: 20px;
}

.fotocontact{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.contactfoto{
    width: 100%;
    height: 20%;
}

input{
    width: 60%;
    background-color: #d9c5b1;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 3px;
    margin: 5px;
}