*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #DCC9BC;
}

.logo{
    margin-left: 50px;
    margin-top: 5px;
}

nav{
    background-color: #F9F6F1;
    height: 90px;
}

.navigatie{
    color: black;
    text-decoration: none;
}

.buttonnav{
    margin: 30px;
    background-color: transparent;
    border: none;
}

.huisfoto{
    margin-left: 20px;
    margin-top: 20px;
}

.foto1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 550px;
    width: 90%;
    object-fit: cover;
}

.inleiding{
    background-color: #c9b4a7;
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inleidingtekst{
    margin-left: 30px;
    margin-top: 30px;
    width: 45%;
}

.burger1{
    width: 25%;
    object-fit: cover;
}

.burgerfoto1{
    height: 200px;
    padding: 5px;
}

.tweeinleiding{
    width: 25%;
}

.geschiedenis1{
    padding-top: 5px;
}

.geschiedenis2{
    padding: 2%;
}

.contactform{
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

